* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-schema: rgb(49, 49, 49);
  --light-schema: rgb(255, 246, 246);
}

body {
  display: flex;
  color: var(--light-schema);
  background-color: var(--dark-schema);
}

div#links {
  display: flex;
  flex-direction: column;
}

h2,
h3 {
  margin: 25px 0;
}

h1 {
  padding: 20px 0px 15px 10px;
  letter-spacing: 2px;
  font-size: 28px;
}

ul,
ol {
  margin: 5px 0px 0px 35px;
}

li {
  margin-bottom: 5px;
}

p {
  margin-top: 15px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: var(--light-schema);
  font-size: 18px;
  padding: 13px 0px 13px 12px;
  border-bottom: 1px solid var(--light-schema);
}

a.nav-link:first-child {
  border-top: 1px solid var(--light-schema);
}

section {
  margin: 0px 0px 20px 0px;
}

#navbar {
  display: flex;
  flex-direction: column;
  flex-basis: 29%;
  border-right: 1px solid var(--light-schema);
}

#main-doc {
  display: flex;
  flex-direction: column;
  flex-basis: 69%;
  margin: 35px 20px;
}

/** On regular sized devices (laptops, desktops), 
** the element with id="navbar" should be shown on 
** the left side of the screen and should always be
** visible to the user.*/

/** My Technical Documentation page should use at least
** one media query.*/
@media (max-width: 751px) {
  h1 {
    font-size: 23px;
  }

  a {
    font-size: 15px;
    padding: 9px 0px 9px 8px;
  }

  h2,
  h3 {
    margin: 18px 0;
  }

  p,
  li {
    font-size: 15px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}
